:root{
    box-sizing: border-box;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
#heading{
    margin:0 auto;
    width: 35%;
    padding: 20px ;
    font-size: 40px;
    color: goldenrod;
    font-weight: bold;
}
#btnStartGame{
    margin:0 auto;
    width: 15%;
   
}
#win{display: none;}
#win h1{color: white;}
.startGame{
    background-color:  goldenrod;
    color: white;
    border-radius: 2px;
    width: 150px;
    height: 50px;
}
.towerFlexContainer{
display: flex;
flex-direction: row;
justify-content: space-around;
border-bottom: solid 50px #B48D51;
border-radius: 5px;
height: 350px;
margin-left: 30vh;
margin-right: 30vh;
margin-top: 15vh;

}



.tower{
border:  none;
display: flex;
flex-direction: column-reverse;
background-color: #B48D51;
border-radius: 5px;
height: 100%;
align-items: center;
width: 40px;

}
.towerParent{

    display: flex;
    width: 130px;
    flex-direction: column-reverse;
    padding-top:30px ;
    
    }
.disk{
    
    height: 50px;
    background-color: rebeccapurple;
    border-radius: 10px;
}

#disk1{
    background-color: #E3CCA9;
    width: 150px;
}
#disk2{
    background-color: #030303;
    width: 130px;
}
#disk3{
    background-color: #FA3E29;
    width: 110px;
}
#disk4{
    background-color: #FFCD05;
    width: 90px;
}
.towerName{
position: absolute;
margin-top: 100px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 26px;
color: goldenrod;
font-weight: bold;
}
.goUp{
   background-color :white;
   margin-Bottom : 100px;
    transition : all 1s;
}
#footer{display: flex;}
